*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    width: inherit;
    height: 15vh;
    background-image: url(../imagens/trianguloCimaAtu.png);
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

main{
    width: inherit;
    height: 70vh;
    background-color: lawngreen;
}

footer{
    width: inherit;
    height: 14vh;
    background-image: url(../imagens/trianguloBaixoAtu.png);
    background-repeat: no-repeat;
}

main{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* container principal */


#containerPrincipal{

    width: 50vw;
    height: 70vh;
    background-color: cadetblue;
     
}

.centralizar{
    display: flex;
}
.fotoAluno{
    width: 12vw;
    height: 30vh;
    margin-left: 150px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fff7e8;
   
}

.inputsFotos{
    width: 15vw;
    height: 20vh;
    background-color: yellow;
    margin-left: 80px;
    margin-top: 20px;
}

#tamanhoTirarFotos{
    width: inherit;
    height: 5vh;
    background-color: lawngreen;
}

input[type=file]{
    width: 150px;
    height: 75px;
    color:transparent;
   
}
